<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<h1>
  <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
  <a th:href="@{/templates/warehouses}" class="btn-main">Magazyn</a>
  <a th:href="@{/templates/tasks}" class="btn-main">Task</a>
  <a th:href="@{/templates/cars}" class="btn-main">Auta</a>
  <a th:href="@{/users}" class="btn-main">Pracownicy</a>
  <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="top-row">
  <div class="side-by-side">
    <div class="info">
      <div class="info-row">
        <span class="label">Model:</span>
        <span class="value" th:text="${product.position}">–</span>
      </div>
      <div class="info-row">
        <span class="label">Nazwa:</span>
        <span class="value" th:text="${product.name}">–</span>
      </div>
      <div class="info-row">
        <span class="label">Minimalna dopuszczalna ilość:</span>
        <span class="value" th:text="${product.minStock}">–</span>
      </div>
      <div class="info-row">
        <span class="label">Opis:</span>
        <span class="value" th:text="${product.description}">–</span>
      </div>
        <div class="info-row">
            <span class="label">Akcija:</span>
            <a th:href="@{'/warehouses/products/edit/' + ${product.id}}" class="btn-add">Edytuj</a>
        </div>
    </div>

      <div class="form-header">
          <label class="form-title">Dostawy:</label>
          <a th:href="@{'/events/add/' + ${product.id}}" class="btn-add">Dodaj</a>
      </div>
  </div>
</div>
</body>
</html>