<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<div class="form-section">
    <form th:action="@{/warehouses/carts/save}" th:object="${cart}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Nazwa:</label>
        <input type="text" th:field="*{name}" />
        <label>Opis:</label>
        <input type="text" th:field="*{description}" />

        <label>Produkty</label>
        <div>
            <div th:each="p : ${allStackPositions}">
                <input type="checkbox" th:value="${p.id}" th:field="*{stockPositions}" />
                <span th:text="${p.name} + ' ' + ${p.description}"></span>
            </div>
        </div>
        <button type="submit" class="submit-btn">Zapisz</button>
    </form>

</div>
</body>
</html>