<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<div class="container">
    <div class="form-section">
        <form th:action="@{/warehouses/save}" th:object="${stockPosition}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{type}" th:value="${stockPositionTypes.TOOL}"/>

            <label>Nazwa:</label>
            <input type="text" th:field="*{name}" />
            <label>Opis:</label>
            <input type="text" th:field="*{description}" />
            <label>Typ</label>
            <input type="checkbox" th:field="*{type}" />

            <button type="submit" class="submit-btn">Zapisz</button>
        </form>
    </div>
</div>
<div th:object="${stockPosition}" th:if="${stockPosition.id != null }" class="squares">
    <div class="square">
        <a th:href="@{'/warehouses/products/add/' + ${stockPosition.id}}" class="btn btn-primary">Dodaj</a>
        <table>
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Kod</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${stockPosition.product}"
                th:attr="onclick=|window.location.href='/warehouses/products/edit/${item.id}'|">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.code}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>