<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<h1>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<h2>
    <label>Magazyn</label>
</h2>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container">
            <div class="table-header">
                <label class="table-title">Narzędzia</label>
                <a href="/warehouses/products/add" class="btn-add">Dodaj</a>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Stan Magazynu</th>
                    <th>Stan Calkowity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${products}"
                    th:attr="onclick=|window.location.href='/warehouses/products/${p.id}'|"
                    class="clickable-row">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.description}"></td>
                    <td th:text="${(countProductWarehouse[p.id] ?: 0)}"
                        th:classappend="${(countProductWarehouse[p.id] ?: 0) < p.minStock} ? 'low-stock'">
                    </td>
                    <td th:text="${(countProductWarehouseAndCar[p.id] ?: 0)}"
                        th:classappend="${(countProductWarehouseAndCar[p.id] ?: 0) < p.minStock} ? 'low-stock'">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="products-container">
            <div class="table-header">
                <label class="table-title">Produkty</label>
                <a href="/warehouses/stocks/tools" class="btn-add">Dodaj</a>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Stan Magazynu</th>
                    <th>Stan Calkowity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${stockPositions}"
                    th:attr="onclick=|window.location.href='/warehouses/stocks/tools/${s.id}'|"
                    class="clickable-row">
                    <td th:text="${s.name}"></td>
                    <td th:text="${s.description}"></td>
                    <td th:text="${(countToolsStatus[s.id] ?: 0)}"
                        th:classappend="${(countToolsStatus[s.id] ?: 0) < s.minStock} ? 'low-stock'">
                    </td>
                    <td th:text="${(countToolsPosition[s.id] ?: 0)}"
                        th:classappend="${(countToolsPosition[s.id] ?: 0) < s.minStock} ? 'low-stock'">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="products-container">
            <div class="full-width-container">
                <div class="table-header">
                    <label class="table-title">Wyladunek</label>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>L.P.</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data od</th>
                        <th>Data do</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,iter : ${tasksPacked}"
                        th:attr="onclick=|window.location.href='/warehouses/products/edit/${p.id}'|"
                        class="clickable-row">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.description}"></td>
                        <td th:text="${p.dateTo}"></td>
                        <td th:text="${p.dateFrom}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="full-width-container">
                <div class="table-header">
                    <label class="table-title">Zaladunek</label>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>L.P.</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Data od</th>
                        <th>Data do</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,iter : ${tasksUnpacked}"
                        th:attr="onclick=|window.location.href='/warehouses/products/edit/${p.id}'|"
                        class="clickable-row">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.description}"></td>
                        <td th:text="${p.dateTo}"></td>
                        <td th:text="${p.dateFrom}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="full-width-container">
                <div class="table-header">
                    <label class="table-title">Koszyki</label>
                    <a href="/carts/add" class="btn-add">Dodaj</a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>L.P.</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,iter : ${carts}"
                        th:attr="onclick=|window.location.href='/carts/edit/${p.id}'|"
                        class="clickable-row">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.description}"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>
