<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<h1>
    <label>Produkty</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="w1200">
    <div class="table-header">
        <label class="table-title">Edytuj:</label>
    </div>
    <form th:action="@{/warehouses/products/save}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label>Nazwa:</label>
        <input type="text" th:field="*{name}" />
        <label>Opis:</label>
        <textarea th:field="*{description}" ></textarea>
        <label>Minimalna ilosc na stanie:</label>
        <input type="number" th:field="*{minStock}" />
        <label>Pozycija:</label>
        <input type="text" th:field="*{position}" />

        <button type="submit" class="submit-btn">Zapisz</button>
    </form>
</div>

</body>
</html>