<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
</head>
<body>
<h1>

<div th:replace="~{fragments/navBar :: navbar}"></div>

</h1>
<div class="w1200">
    <div class="table-header">
        <label class="table-title">Edytuj:</label>
    </div>
    <form th:action="@{/warehouses/products/save}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label>Nazwa:</label>
        <input type="text" th:field="*{name}" />
        <label>Opis:</label>
        <textarea th:field="*{description}" ></textarea>
        <label>Minimalna ilosc na stanie:</label>
        <input type="number" th:field="*{minStock}" />
        <label>Pozycija:</label>
        <input type="text" th:field="*{position}" />

        <button type="submit" class="submit-btn">Zapisz</button>
    </form>
</div>

</body>
</html>