<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>
    <label>Magazyn</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="container">
    <div class="form-section">
        <form th:action="@{/warehouses/products/save}" th:object="${tool}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{stockPosition.id}" />
            <label>Nazwa:</label>
            <input type="text" th:field="*{name}" />
            <label>Opis:</label>
            <input type="text" th:field="*{description}" />
            <label>Kod:</label>
            <input type="text" th:field="*{code}" />
            <label>Cena:</label>
            <input type="text" th:field="*{price}" />

            <button type="submit" class="submit-btn">Zapisz</button>
        </form>
    </div>
    <div th:object="${tool}" th:if="${tool.id != null }" class="squares">
        <div class="square">
            <a th:href="@{'/warehouses/tools/cost/add' + ${tool.id}}" class="btn-add">Dodaj</a>
            <table>
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Od</th>
                    <th>Do</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cost : ${tool.costs}"
                    th:attr="onclick=|window.location.href='/warehouses/tools/cost/edit/${cost.id}'|">
                    <td th:text="${cost.description}"></td>
                    <td th:text="${cost.cost}"></td>
                    <td th:text="${cost.dateFrom}"></td>
                    <td th:text="${cost.dateTo}"></td>
            </table>
        </div>
        <div class="square">
            <table>
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Nazwa</th>
                    <th>Miejsce</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Użytkownik</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.place.name}"></td>
                    <td th:text="${task.dateFrom}"></td>
                    <td th:text="${task.dateTo}"></td>
                    <td>
                        <label th:each="user : ${task.users}"
                               th:text="${user.firstname + ' ' + user.lastName}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>