<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<h1>
    <label>Dostawy</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container w1200">
            <div class="table-header">
                <label class="table-title" th:text="|Produkt: ${product.name}|"></label>
            </div>
            <form th:action="@{'/events/delivery'}" th:object="${productEvent}"  method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{product.id}" />

                <label>ilość</label>
                <input type="text" th:field="*{quantity}" />
                <label>Cena jednostkowa</label>
                <input type="text" th:field="*{unitPrice}" />
                <label>Komentarz</label>
                <textarea th:field="*{comment}"></textarea>
                <label>Data i czas:</label>
                <input type="datetime-local" th:field="*{timestamp}"
                       th:text="${#temporals.format(productEvent.timestamp, 'yyyy-MM-dd''T''HH:mm')}" required />
                <button type="submit" class="submit-btn">Zapisz</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>