<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>
    <label>Miejsca</label>
    <a href="/dashboard" class="btn-add">Strona glowna</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container w800">
            <div class="table-header">
                <label class="table-title">Edytuj:</label>
            </div>
            <form th:action="@{'/places/save'}"
                  th:object="${place}"
                  method="post">
                <input type="hidden" th:field="*{id}" />

                <label>Nazwa</label>
                <input type="text" th:field="*{name}" />


                <label>Opis</label>
                <textarea th:field="*{description}"></textarea>

                <label>Współrzędne</label>
                <input type="text" th:field="*{latitude}" />
                <input type="text" th:field="*{longitude}" />

                <button type="submit" class="submit-btn">Zapisz</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>