<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<h1>
    <label>Miejsca</label>
    <a href="/dashboard" class="btn-add">Strona glowna</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container">
            <div class="table-header">
                <label class="table-title">Lista miejsc:</label>
                <a href="/places/add" class="btn-add" >Dodaj</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Lokalizacija</th>
                    <th>Pogoda</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="place : ${places}"
                    th:attr="onclick=|window.location.href='/places/edit/${place.id}'|"
                    class="clickable-row">
                    <td th:text="${place.name}"></td>
                    <td th:text="${place.description}"></td>
                    <td th:text="${place.latitude + ', ' + place.longitude}"></td>
                    <td>21C 35mm</td>
            </table>
        </div>
    </div>
</div>


</body>
</html>