<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj lub Edytuj Koszyk</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<h1>
    <div th:replace="~{fragments/navBar :: navbar}"></div>
</h1>



<div class="top-row">
    <div class="side-by-side">

        <!-- Formularz koszyka -->
        <div class="container">
            <form th:action="@{/carts/save}" method="post" th:object="${cart}">
                <input type="hidden" th:field="*{id}" />
                <label for="name">Nazwa:</label>
                <input type="text" id="name" th:field="*{name}" required />
                <label for="description">Opis:</label>
                <textarea id="description" th:field="*{description}" required></textarea>
                <button type="submit" >Zapisz koszyk</button>
            </form>
            <div class="table-header">
                <input type="text" class="table-search" placeholder="Szukaj..." data-target="#carsTable">
            </div>
            <table>
                <thead>
                <tr>
                    <th>Typ</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ci : ${cart.items}">
                    <td th:text="${ci.product != null ? 'Produkt' : 'StockPosition'}">Typ</td>
                    <td>
                        <span th:if="${ci.product != null}" th:text="${ci.product.name}">Nazwa produktu</span>
                        <span th:if="${ci.stockPosition != null}" th:text="${ci.stockPosition.name}">Nazwa pozycji</span>
                    </td>
                    <td th:text="${ci.quantity}">1</td>
                    <td>
                        <form th:action="@{/carts/items/delete/{id}(id=${ci.id})}" method="post">
                            <input type="hidden" name="cartId" th:value="${cart.id}" />
                            <button type="submit" class="btn-use" >Usuń</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(cart.items)}">
                    <td colspan="4">Koszyk jest pusty</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Tabela wszystkich produktów -->
        <div class="container">
            <div class="table-header">
                <input type="text" class="table-search" placeholder="Szukaj..." data-target="#carsTable">
            </div>
            <table>
                <thead>
                <tr>
                    <th>Kod</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Ilość</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${allProduct}">
                    <td th:text="${p.code}">P-001</td>
                    <td th:text="${p.name}">Nazwa</td>
                    <td th:text="${p.description}">Opis</td>
                    <td>
                        <form th:action="@{/carts/items/save}" method="post" th:id="|addForm_${p.id}|">
                            <input type="hidden" name="cart.id" th:value="${cart.id}" />
                            <input type="hidden" name="product.id" th:value="${p.id}" />
                            <input type="number" name="quantity" min="1" value="1" required />
                        </form>
                    </td>
                    <td>
                        <button type="submit" class="btn-add"  th:attr="form=|addForm_${p.id}|">Dodaj</button>
                    </td>
                </tbody>
            </table>
        </div>

        <!-- Tabela wszystkich stock positions -->
        <div class="container">
            <div class="table-header">
                <input type="text" class="table-search" placeholder="Szukaj..." data-target="#carsTable">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Ilość</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${allStackPositions}">
                    <td th:text="${s.id}">1</td>
                    <td th:text="${s.name}">Pozycja</td>
                    <td th:text="${s.description}">Opis</td>
                    <td>
                        <form th:action="@{/carts/items/save}" method="post" th:id="|addForm_${s.id}|">
                            <!-- tylko cart.id i stockPosition.id -->
                            <input type="hidden" name="cart.id" th:value="${cart.id}" />
                            <input type="hidden" name="stockPosition.id" th:value="${s.id}" />
                            <input type="number" name="quantity" min="1" value="1" required />
                        </form>
                    </td>
                    <td>
                        <button type="submit" class="btn-add" th:attr="form=|addForm_${s.id}|">Dodaj</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>