<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>
    <label>Koszyki</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container w1200" >
            <div class="table-header">
                <label class="table-title">Edytuj:</label>
            </div>
            <form th:action="@{'/carts/save'}" th:object="${cart}" method="post">
                <input type="hidden" th:field="*{id}" />
                <label>Nazwa:</label>
                <input type="text" th:field="*{name}" />
                <label>Opis:</label>
                <textarea th:field="*{description}"></textarea>
                <label>Szczególy</label>
                <label th:each="c : ${cart.cartDetails}">
                    <input type="checkbox" th:value="${c.id}" th:field="*{cartDetails}" />

                </label>
                <button type="submit" class="submit-btn">Zapisz</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>