<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<header class="page-header">
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <a th:href="@{/dashboard}" class="crumb">Strona główna</a>
        <span class="sep">/</span>
        <a th:href="@{|/warehouses/${tool.stockPosition.warehouse.id}|}" class="crumb">Magazyn</a>
        <span class="sep">/</span>
        <span >Formularz</span>
    </nav>

    <div class="header-row">
        <h1 class="page-title" >Formularz pozycji</h1>
        <div class="header-tools">
            <a th:if="${tool?.id != null}" class="btn" th:href="@{|/tools/cost/add/${tool.id}|}">+ Dodaj Koszty</a>
        </div>
    </div>
</header>

<section class="form-container">
    <form th:action="@{/templates/tools/save}" method="post" th:object="${tool}" class="card form">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{stockPosition.id}" />

        <div class="form-row">
            <label for="code">Nazwa <span class="req">*</span></label>
            <input type="text" id="code" th:field="*{code}" maxlength="150" required />
            <div class="field-hint" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Błąd nazwy</div>
        </div>

        <div class="form-row">
            <label for="name">Kategoria</label>
            <input type="text" id="name" th:field="*{name}" maxlength="100" />
            <div class="field-hint" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błąd kategorii</div>
        </div>

        <div class="form-row">
            <label for="description">Opis</label>
            <textarea id="description" th:field="*{description}" maxlength="255"></textarea>
            <div class="field-hint" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Błąd opisu</div>
        </div>

        <div class="form-row">
            <label for="price">Lokalizacja (np. regał/półka)</label>
            <input type="text" id="price" th:field="*{price}" maxlength="50" />
            <div class="field-hint" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Błąd lokalizacji</div>
        </div>
        <div class="form-row">
            <label for="status">Lokalizacja (np. regał/półka)</label>
            <input type="text" id="status" th:field="*{price}" maxlength="50" />
            <div class="field-hint" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Błąd lokalizacji</div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Zapisz</button>
<!--            <a th:href="@{|/warehouses/${stockPosition.warehouse.id}|}" class="btn btn-secondary">Anuluj</a>-->
        </div>
    </form>
</section>
<script th:src="@{/js/general.js}"></script>
</body>
</html>