<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>
    <label>Projekty</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container">
            <div class="table-header">
                <label class="table-title">Edytuj:</label>
            </div>
            <form th:action="@{'/tasks/save'}" th:object="${task}" method="post">
                <input type="hidden" th:field="*{id}" />

                <label>Nazwa:</label>
                <input type="text" th:field="*{name}" />

                <label>Opis:</label>
                <textarea th:field="*{description}"></textarea>

                <label>Data od:</label>
                <input type="date" th:field="*{dateTo}" />

                <label>Data do:</label>
                <input type="date" th:field="*{dateFrom}" />

                <label>Data do</label>
                <input type="date" th:field="*{dateFrom}" />

                <label>
                    <a href="/users" class="btn-add">Pracownicy</a>
                </label>
                <div class="car-grid">
                    <label th:each="u : ${allUsers}">
                        <input type="checkbox" th:value="${u.id}" th:field="*{users}" />
                        <span th:text="${u.firstname + ' ' + u.lastName}"></span>
                    </label>
                </div>

                <label>
                    <a href="/places" class="btn-add">Miejsca</a>
                </label>
                <div class="car-grid">
                    <label th:each="p : ${allPlaces}">
                        <input type="checkbox" th:value="${p.id}" th:field="*{place}" />
                        <span th:text="${p.name + ' ' + p.address}"></span>
                    </label>
                </div>

                <label>
                    <a href="/cars" class="btn-add">Samochody</a>
                </label>
                <div class="car-grid">
                    <label th:each="c : ${allCars}">
                        <input type="checkbox" th:value="${c.id}" th:field="*{cars}" />
                        <span th:text="${c.name}"></span>
                    </label>
                </div>
                <button type="submit" class="submit-btn">Zapisz</button>
            </form>
        </div>
        <div class="tools-container">
            <div class="table-header">
                <label th:text="${productTask}">Zrealizowane</label>
            </div>
<!--            <table>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Nazwa</th>-->
<!--                    <th>Opis</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="productTask : ${productTask}">-->
<!--                    <td th:text="${productTask.id}"></td>-->
<!--                    <td th:text="${productTask.description}"></td>-->
<!--                    <td th:text="${productTask.quantity}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
        <div class="tools-container">
            <div class="table-header">
                <label>Raporty</label>
                <a th:href="@{'/tasks/raports/add/' + ${task.id}}" class="btn-add">Dodaj</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Dzien</th>
                    <th>Data wpyniecia</th>
                    <th>Godziny przepracowane</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${taskRaports}">
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.date}"></td>
                    <td th:text="${item.dateComeIn}"></td>
                    <td th:text="${item.hour}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>