<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<div class="container">
    <div class="form-section">
        <form th:action="@{'/tasks/save'}" th:object="${task}" method="post">
            <input type="hidden" th:field="*{id}" />

            <label>Nazwa:</label>
            <input type="text" th:field="*{name}" />

            <label>Opis:</label>
            <textarea th:field="*{description}"></textarea>

            <label>Data od:</label>
            <input type="date" th:field="*{dateTo}" />

            <label>Data do:</label>
            <input type="date" th:field="*{dateFrom}" />

            <label>Data do</label>
            <input type="date" th:field="*{dateFrom}" />

            <label>Miejsce</label>
            <select th:field="*{place}">
                <option th:each="p : ${allPlaces}"
                        th:value="${p.id}"
                        th:text="${p.name + ' ' + p.address}">
                </option>
            </select>

            <label>Uczestnicy:</label>
            <select th:field="*{users}" multiple size="2">
                <option th:each="u : ${allUsers}"
                        th:value="${u.id}"
                        th:text="${u.firstname + ' ' + u.lastName}">
                </option>
            </select>

            <label>Samochody:</label>
            <div>
                <div th:each="c : ${allCars}">
                    <input type="checkbox" th:value="${c.id}" th:field="*{cars}" />
                    <span th:text="${c.name}"></span>
                </div>
            </div>
            <button type="submit" class="submit-btn">Zapisz</button>
        </form>
    </div>
</div>
</body>
</html>