<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja samochodu</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>

<h2>Edycja samochodu</h2>
<!--<div th:object="${car}" th:if="${car.id != null }">-->
<!--    <form  th:action="@{'/cars/delete/' + ${car.id}}" method="post">-->
<!--        <button type="submit" class="btn-delete">Usuń</button>-->
<!--    </form>-->
<!--</div>-->


<div class="container">
    <!-- Formularz -->
    <div class="form-section">
        <form th:action="@{'/cars/save'}" th:object="${car}" method="post">
            <input type="hidden" th:field="*{id}" />

            <label>Nazwa:</label>
            <input type="text" th:field="*{name}" />

            <label>Marka:</label>
            <input type="text" th:field="*{brand}" />

            <label>Model:</label>
            <input type="text" th:field="*{model}" />

            <label>Kolor:</label>
            <input type="text" th:field="*{color}" />

            <label>Rejestracja:</label>
            <input type="text" th:field="*{registration}" />

            <label>Rok produkcji:</label>
            <input type="date" th:field="*{year}" />

            <label>Opis:</label>
            <textarea th:field="*{description}"></textarea>

            <label>Przegląd:</label>
            <input type="date" th:field="*{review}" />

            <label>Ubezpieczenie:</label>
            <input type="date" th:field="*{insured}" />

            <button type="submit" class="submit-btn">Zapisz</button>
        </form>
    </div>

    <div th:object="${car}" th:if="${car.id != null }" class="squares">
        <div class="square">
            <a th:href="@{'/cars/cost/add/' + ${car.id}}" class="btn btn-primary">Dodaj</a>
            <table>
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Cena</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Użytkownik</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cost : ${car.costs}"
                    th:attr="onclick=|window.location.href='/cars/cost/edit/${cost.id}'|">
                    <td th:text="${cost.description}"></td>
                    <td th:text="${cost.cost}"></td>
                    <td th:text="${cost.dateFrom}"></td>
                    <td th:text="${cost.dateTo}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="square">
            <table>
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Nazwa</th>
                    <th>Miejsce</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Użytkownik</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.place.name}"></td>
                    <td th:text="${task.dateFrom}"></td>
                    <td th:text="${task.dateTo}"></td>
                    <td>
                        <label th:each="user : ${task.users}"
                               th:text="${user.firstname + ' ' + user.lastName}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/js/map.js}"></script>

</body>
</html>
