<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<h1>
    <label>Pojazdy</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>
<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container">
            <div class="table-header">
                <label class="table-title">Lista pojazdow:</label>
                <a href="/cars/add" class="btn-add">Dodaj</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Rocznik</th>
                    <th>Przegląd do</th>
                    <th>Ubezpieczenie do</th>
                    <th>Km. od wymiany oleju</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${cars}"
                    th:attr="onclick=|window.location.href='/cars/info/${car.id}'|"
                    class="clickable-row">
                    <td th:text="${car.name}">Nazwa</td>
                    <td th:text="${car.brand}">Marka</td>
                    <td th:text="${car.model}">Model</td>
                    <td th:text="${car.year}">Rok</td>
                    <td th:text="${car.review}">Przegląd</td>
                    <td th:text="${car.insured}">Ubezpieczenie</td>
                    <td>Km. od wymiany oleju</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
