<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<h2>Witaj na stronie chronionej!</h2>
<p>Jesteś zalogowany jako:
    <strong th:text="${#authentication.name}">email@example.com</strong>
</p>
<p>Twoja rola:
    <strong th:each="auth : ${#authentication.authorities}" th:text="${auth.authority}">ROLE_USER</strong>
</p>
<form th:action="@{/logout}" method="post">
    <button type="submit">Wyloguj</button>
</form>

<div class="container">
    <a th:href="@{/strona1}" class="box">Magazyn</a>
    <a th:href="@{/strona2}" class="box">Auto</a>
    <a th:href="@{/strona3}" class="box">Miejsca</a>
    <a th:href="@{/strona4}" class="box">Pracownicy</a>
    <a th:href="@{/strona5}" class="box">Ustawienia</a>
</div>
</body>
</html>
