<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>
    <label>Pracownicy</label>
    <a th:href="@{/dashboard}" class="btn-main">Strona glowna</a>
    <a th:href="@{/warehouses}" class="btn-main">Magazyn</a>
    <a th:href="@{/tasks}" class="btn-main">Task</a>
    <a th:href="@{/cars}" class="btn-main">Auta</a>
    <a th:href="@{/places}" class="btn-main">Miejsca</a>
    <a th:href="@{/users}" class="btn-main">Pracownicy</a>
    <a th:href="@{/profile}" class="btn-main">Ustawienia</a>
</h1>

<div class="top-row">
    <div class="side-by-side">
        <div class="tools-container">
            <div class="table-header">
                <label class="table-title">Lista pracowników:</label>
            </div>
    <table>
        <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>nr. Telefonu</th>
            <th>Kraj</th>
            <th>Miasto</th>
            <th>Kod Pocztowy</th>
            <th>Ulica</th>
            <th>Numer Domu/Lokalu</th>
            <th>Opis</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}"
            th:attr="onclick=|window.location.href='/users/edit/${user.id}'|"
            class="clickable-row">
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.address.country}"></td>
            <td th:text="${user.address.city}"></td>
            <td th:text="${user.address.postalCode}"></td>
            <td th:text="${user.address.street}"></td>
            <td th:text="${user.address.number}"></td>
            <td th:text="${user.description}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>
</body>
</html>