<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />

</head>
<body>
<h1>Lista pracowników</h1>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>nr. Telefonu</th>
            <th>Adres</th>
            <th>Opis</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.lastName}">Nazwisko</td>
            <td th:text="${user.firstname}">Imię</td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.description}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>